apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: p8-api
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: p8-api
      app.kubernetes.io/component: api
